!!!
%html
	%head
		%title= 'Sliders'
		%link{:rel => 'stylesheet',
					:href =>'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/ui-darkness/jquery-ui.css',
					:type => 'text/css'}
		%link{:rel => 'stylesheet',
					:href => 'css/slider.css',
					:type => 'text/css'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'}
		%script{:type => 'text/javascript',
						:src =>'scripts/slider.js'}


	%body
		#header
		#main
			#left
			#center
				#button_container
					%a#add_button{:href => '#'} Add Slider
				#slider_container
					.container.clone_object
						.title_container
							%span.title_display
								%span.title_label.display_field Title
								%a.edit_button.show_on_hover.action_link{:href => '#'} Edit
							%span.title_edit
								%input.title_edit_input.edit_field.input_field{:type => 'text'}
								%a.ok_button.action_link{:href => '#'} Ok
								%a.cancel_button.action_link{:href => '#'} Cancel
							%span.remove_slider
								%a.remove_button.action_link.show_on_hover{:href => '#'} Delete
						.description_container
							%span.description_display
								%span.description_label.display_field Description
								%a.edit_button.show_on_hover.action_link{:href => '#'} Edit
							%span.description_edit
								%input.description_edit_input.edit_field.input_field{:type => 'text'}
								%a.ok_button.action_link{:href => '#'} Ok
								%a.cancel_button.action_link{:href => '#'} Cancel
						.controls_container
							.content
							.slider
			#right
		#footer
		