!!!
%html
	%head
		%title= 'Sliders'
		%link{:rel => 'stylesheet',
					:href =>'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/ui-darkness/jquery-ui.css',
					:type => 'text/css'}
		%link{:rel => 'stylesheet',
					:href => 'css/slider.css',
					:type => 'text/css'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'}
		%script{:type => 'text/javascript',
						:src =>'scripts/slider.js'}


	%body
		#header
		#main
			#left
			#center
				#button_container
					%a#add_button{:href => '#'} Add Slider
				#slider_container
					.container.clone_object
						%span.title_container
							%span.title_display
								%span.title_label Title
								%a.title_edit_button.show_on_hover{:href => '#'} Edit
							%span.title_edit
								%input.title_edit_input{:type => 'text'}
								%a.title_ok_button{:href => '#'} Ok
								%a.title_cancel_button{:href => '#'} Cancel
						.controls_container
							.content
							.slider
			#right
		#footer
		