.clone_object
{
	display: none;
}

.title_edit, .description_edit
{
	display: none;
}

.display_field, .edit_field
{
	margin-right: 10px;
}

.title_label
{
	font-size: 120%;
	font-weight: bold;
}

.description_label
{
	font-style: italic;
	color: #424242;
}

.show_on_hover
{
	display: none;
}

.action_link
{
	font-variant: small-caps;
	font-size: 90%;
}

.remove_slider, .drag_slider
{
	float: right;
	margin-right: 10px;
}

.container
{
	margin-top: 0.50cm;
}

.controls_container 
{
	background-color: red;
	height: 70px;
	position: relative;
}

.content
{
	background-color: blue;
	position: absolute;
	width: 200px;
	height: 100%;
}

.slider
{
	background-color: green;
	position: absolute;
	width: 50px;
	height: 100%;
	left: 150px;
	display: none;
}

#button_container
{
	height: 25px;
}

#add_button
{
	float: right;
	padding-right: 1cm;
}